<% moment.locale('vi')%>
<%- include('../constant/header.ejs'); -%>
<section class="page-section breadcrumbs text-right">
    <div class="container">
        <div class="page-header">
            <h1>Lịch sử</h1>
        </div>
        <ul class="breadcrumb">
            <li><a href="/gio-hang">gio-hang</a></li>
        </ul>
    </div>
</section>
<section class="page-section with-sidebar sub-page">
    <div class="container">
        <div class = "row">
            <div class="col-md-9 content car-listing" id="content">
                <!-- Car Listing -->
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ma don hang</th>
                        <th scope="col">Ngay dat</th>
                        <th scope="col">Tong tien</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% listBookingOfUser && listBookingOfUser.length && listBookingOfUser.forEach(bookingLine => { %>
                            <tr>
                                <th scope="row">1</th>
                                <td>#<%=bookingLine._id%></td>
                                <td><%=moment(bookingLine.createAt).format('LLLL');%></td>
                                <td><%= formatCurrency('###,###.', bookingLine.total)  %> VNĐ</td>
                              </tr>
                        <% }) %>
                    </tbody>
                  </table>

                
                <!-- /Car Listing -->
            
                <!-- Pagination -->
                <!-- <div class="pagination-wrapper">
                    <ul class="pagination">
                        <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i> Previous</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next <i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div> -->
                <!-- /Pagination -->
            </div>
            
        </div>
    </div>
</section>

<%- include('../constant/footer.ejs'); %>

<script>
    let value;
    $(document).ready(function(){
        $('.onShow').attr("aria-expanded","true");
        value = "0";
    })
    $('.chosse').click(function(){
        console.log("aaa");
        value = $(this).attr("value");
    })
    $('#btnThanhToan').click(function(){
        // console.log("aaaaa");
        let txtPickDate = $('#txtPickDate').val();
        let txtDropDate = $('#txtDropDate').val();
        let a =  $('.panel-collapse').attr("aria-expanded");
        console.log({txtPickDate, txtDropDate, value });
        if(value == "0"){
            alert("Thanh Cong");
        }else{
            alert("that bai");
        }

    })

</script>