<%- include('../constant/header.ejs'); -%>
<section class="page-section breadcrumbs text-right">
    <div class="container">
        <div class="page-header">
            <h1>Giỏ Hàng</h1>
        </div>
        <ul class="breadcrumb">
            <li><a href="/gio-hang">Giỏ hàng</a></li>
        </ul>
    </div>
</section>
<section class="page-section with-sidebar sub-page">
    <div class="container">
        <div class = "row">
            <div class="col-md-9 content car-listing" id="content">
                <!-- Car Listing -->
                <% listProductInCart && listProductInCart.length > 0 && listProductInCart.forEach(rent =>{ %>
                    <div class="thumbnail no-border no-padding thumbnail-car-card clearfix row-item">
                        <div class="media">
                            <a class="media-link" data-gal="prettyPhoto" href="/img/<%= rent.car.image %>">
                                <img src="/img/<%= rent.car.image %>" alt=""> 
                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                            
                        </a></div><a class="media-link" data-gal="prettyPhoto" href="<%= rent.car.image %>">
                        </a><div class="caption"><a class="media-link" data-gal="prettyPhoto" href="/img/<%= rent.car.image %>">
                            <div class="rating">
                                <span class="star"></span><!--
                                        --><span class="star active"></span><!--
                                        --><span class="star active"></span><!--
                                        --><span class="star active"></span><!--
                                        --><span class="star active"></span>
                            </div>
                            </a><h4 class="caption-title"><a class="media-link" data-gal="prettyPhoto" href="/img/<%= rent.car.image %>"></a><a href="#"><%= rent.car.name %></a></h4>
                            <h5 class="caption-title-sub"><%= rent.price %></h5>
                            <div class="caption-text"><%= rent.description %></div>
                            <!-- <table class="table">
                                <tbody>
                                    <tr>
                                        <td><i class="fa fa-car"></i> 2019</td>
                                        <td><i class="fa fa-dashboard"></i> Diesel</td>
                                        <td><i class="fa fa-cog"></i> Auto</td>
                                        <td><i class="fa fa-road"></i> 4</td>
                                        <td><i class="fa fa-shopping-cart btnAddToCart" _productid="<%= rent._id %>"></i></td> -->
                                    <!-- <td class="buttons"><a class="btn btn-theme" href="/booking/<%= rent._id %>">Thuê xe</a></td> -->
                                    <!-- </tr>
                                </tbody>
                            </table> -->
                        </div>
                    </div>
                <% }) %>

                
                <!-- /Car Listing -->
            
                <!-- Pagination -->
                <!-- <div class="pagination-wrapper">
                    <ul class="pagination">
                        <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i> Previous</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next <i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div> -->
                <!-- /Pagination -->
                <hr class="page-divider half transparent">
                <h3 class="block-title alt"><i class="fa fa-angle-down"></i> Chọn ngày </h3>
                <form role="form" class="form-extras">
                    <div class="form-group has-icon has-label">
                        <label for="formSearchUpDate2"> Ngày thuê</label>
                        <input type="text" class="form-control datepicker" id="txtPickDate" placeholder="dd/mm/yyyy">
                        <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                    </div>
                    <div class="form-group has-icon has-label">
                        <label for="formSearchOffDate2"> Ngày trả</label>
                        <input type="text" class="form-control datepicker" id="txtDropDate" placeholder="dd/mm/yyyy">
                        <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                    </div>
                    
                    <h3 class="block-title alt"><i class="fa fa-angle-down"></i>Hình thức thanh toán</h3>
                    <div class="panel-group payments-options" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel radio panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="chosse" value="0" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="dot"></span> Thanh toán trực tiếp
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="onShow panel-collapse collapse in" role="tabpanel" value="0" aria-labelledby="heading1">
                                <div class="panel-body">
                                    <div class="alert alert-success" role="alert">Thanh toán trực tiếp khi nhận xe</div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="dot"></span> Credit Card
                                    </a>
                            <span class="overflowed pull-right">
                                <img src="/assets/img/preview/payments/mastercard-2.jpg" alt="">
                                <img src="/assets/img/preview/payments/visa-2.jpg" alt="">
                                <img src="/assets/img/preview/payments/american-express-2.jpg" alt="">
                                <img src="/assets/img/preview/payments/discovery-2.jpg" alt="">
                                <img src="/assets/img/preview/payments/eheck-2.jpg" alt="">
                            </span>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3"></div>
                        </div> -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading4">
                                <h4 class="panel-title">
                                    <a class="collapsed chosse" value="1" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        <span class="dot"></span> PayPal
                                    </a>
                                    <span class="overflowed pull-right"><img src="/assets/img/preview/payments/paypal-2.jpg" alt=""></span>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" value="1" aria-labelledby="heading4"></div>
                        </div>
                    </div>
                    <h3 class="block-title alt"><i class="fa fa-angle-down"></i> Giá </h3>
                    <h5> Tổng tiền: <%= total %></h5>
                    <div class="overflowed reservation-now">
                        <div class="checkbox pull-left">
                            <input id="accept" type="checkbox" name="fd-name" title="Please accept" data-toggle="tooltip">
                            <label for="accept">Tôi đồng ý những điều khoản khi thanh toán</label>
                        </div>
                        <button class="btn btn-theme pull-right btn-reservation-now btnThanhToan" id="btnThanhToan" >Thanh toán</button>

                        <a class="btn btn-theme pull-right btn-cancel btn-theme-dark" href="#">Hủy</a>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</section>

<%- include('../constant/footer.ejs'); %>

<script>
    let value;
    $(document).ready(function(){
        $('.onShow').attr("aria-expanded","true");
        value = "0";
    })
    $('.chosse').click(function(){
        console.log("aaa");
        value = $(this).attr("value");
    })
    $('#btnThanhToan').click(function(){
        // console.log("aaaaa");
        let txtPickDate = $('#txtPickDate').val();
        let txtDropDate = $('#txtDropDate').val();
        let a =  $('.panel-collapse').attr("aria-expanded");
        console.log({txtPickDate, txtDropDate, value });
        if(value == "0"){
            alert("Thanh Cong");
        }else{
            alert("that bai");
        }

    })

</script>